<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="templates/header"></div>

    <script th:src="@{/resources/js/custom.js}"></script>
    <link th:href="@{/resources/css/custom.css}" rel="stylesheet" media="screen" type="text/css"/>
</head>
<body>
<h1>Spring MVC + Thymeleaf  Hello World example</h1>
<p th:text="${message}"></p>

<div id='wrap'>

    <div id='calendar'></div>

    <div style='clear:both'></div>
</div>

<div th:include="templates/footer :: footer"></div>
</body>
</html>