<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="templates/header"></div>
</head>
<body>
<h1>List Task</h1>

<div id="wrap">
    <div class="text-left container-fluid">
        <a href="add.html" th:href="@{/task/add}">
            <button type="button" class="btn btn-outline-success">Add</button>
        </a>

    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task Name</th>
            <th scope="col">Task Type</th>
            <th scope="col">Date</th>
            <th scope="col">Date lunar</th>
            <th scope="col">Event lunar</th>
            <th scope="col">Color</th>
            <th scope="col">Note</th>
            <th scope="col" class="text-right"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list}">
            <th th:text="${item.id}"scope="row"></th>
            <td th:text="${item.task_name}"></td>
            <td th:text="${item.task_type}"></td>
            <td th:text="${item.date_event}"></td>
            <td th:text="${item.date_event_lunar}"></td>
            <td th:text="${item.event_lunar}"></td>
            <td th:text="${item.task_color}"></td>
            <td th:text="${item.note}"></td>
            <td class="text-center">
                <a th:href="@{/task/edit/}+${item.id}">
                    <button type="button" class="btn btn-outline-info">Edit</button></a>
                <button type="button" th:onclick="'doDelete(\'' +${item.id}+ '\');'" class="btn btn-outline-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="templates/footer :: footer"></div>
</body>
</html>